# Database
DATABASE_URL=postgresql://user:password@localhost:5432/povos_one

# JWT
JWT_SECRET=your-super-secret-key
JWT_EXPIRES_IN=1d

# Server
PORT=3001
NODE_ENV=development

# Email
EMAIL_HOST=smtp.elasticemail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-api-key
EMAIL_FROM=noreply@povosone.com
FRONTEND_URL=http://localhost:3000
